:root{
    --bg: #1d1d1d;
    --text: rgb(255, 255, 255);
    --radius: 32px;
    --border-c: rgb(85, 85, 85);
}


* {
    cursor:crosshair;
}

body{
    font-family:consolas;
    display:flex;
    background-color: var(--bg);
    color:var(--text);
    padding:50px;
    flex-wrap: wrap;
    padding:50px;
    overflow-y: visible;
    justify-content: center;


}

body::-webkit-scrollbar {
    width: 6px;
}
body::-webkit-scrollbar-thumb {
    background: var(--border-c);
    border-radius: 10px;
}

summary{
    font-size:5vh;
    font-family: consolas;
    user-select: none;
}

details{
    overflow:hidden;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#title{
    justify-content: center;
    display:flex;
}

.block{
    display:flex;
    border: 2px solid var(--border-c);
    border-radius: var(--radius);
    box-shadow: 0px 15px 20px 0px black;
    width:30vw;
    padding:10px;
    transition:0.3s ease;
    min-width: 400px;
    
}

.text-blocks{
    display:flex;
    flex-direction: column;
    gap:1vw;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}
.block:hover{
    transition:0.3s ease;
    transform:scale(1.01);
}

.container{
    transition:0.3s ease;
    
}

.content{
    display:flex;
    border: 2px solid var(--border-c);
    border-radius: var(--radius);
    box-shadow: inset 0px -15px 50px 0px rgba(255, 255, 255, 0.2);
    padding:30px;
    margin-top:3vh;
    width:26vw;
    transition:0.3s ease;
    background-color: rgb(19, 19, 19);
    min-width: 400px;
}

.push-container{
    background-color: rgb(19, 19, 19);
    border: 2px solid var(--border-c);
    width: 12vw;
    height:5vh;
    display:flex;
    justify-content: center;
    align-self:center;
    border-radius: 100vh;
}

.push-content{
    display:flex;
    justify-content: center;
    align-items:center;
    font-family:verdana;
}

.push-element{
    position:absolute;
    display:flex;
    justify-content: center;
    right:45vw;
    visibility: hidden;
    opacity:0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease;
    user-select: none;
    transform:translateY(20px);
}

.push-element.show{
    visibility: visible;
    opacity:1;
    transform:translateY(0);
}

.icon-pack{
    display:flex;
    position:absolute;
    justify-content: center;
    right:2vw;
    transform:scale(1.3);
    overflow:hidden;
    border:1px solid var(--border-c);
    border-radius: 10px;
    transition: 0.3s ease;
}

.icon-pack:hover{
    transform:scale(1.1);
    transition:0.3s ease;
}

.copy-icon{
    padding:5px;
}