:root{
    --bg: #151A28;
    --text: rgb(255, 255, 255);
    --radius: 32px;
    --border-c: rgb(59, 59, 103);
}

* {

    user-select: none;
    cursor:crosshair;
}

body{
    font-family:consolas;
    display:flex;
    background-color: var(--bg);
    color:var(--text);
    justify-content: center;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container{
    display:flex;
    border: 2px solid var(--border-c);
    border-radius: 100px;
    padding:5px;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width:75vh;
    height:65vh;
    box-shadow: 0px 15px 40px 0px black;  
    animation: fadeInUp 0.8s ease-out forwards;           
}

.link-box{
    border: 2px solid var(--border-c);
    text-decoration: none;
    color: var(--text);
    border-radius: 32px;
    display:block;
    text-align:center;
    font-size:5vh;
    transition:0.3s ease;
    box-shadow: 0px 15px 20px 0px black;
    width:50vh;
    padding:1vh;
    
}

.link-box:hover{
    transition:0.3s ease;
    transform:scale(1.01);
    border-color: #5b5bff97;
}

.text-links{
    gap:20px;
    display:flex;
    flex-direction: column;
    padding:20vh;
}



